@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
section
{
    padding: 100px;
}
  
.banner{
    position: relative;
    min-height: 100vh;
    background: url(../img/l4.png);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between; /*to change later*/
    align-items: center;
}
.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
.btn:hover{
    background-color: #0084ff;
}
.btn:active{
    opacity: 0.6;
}
.btn2{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
.btn2:hover{
    background-color: #0084ff;
}
.btn2:active{
    opacity: 0.6;
}
.btn1{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
    outline: none;
}
.btn1:hover{
    opacity: 0.8;
    cursor: pointer;
}
.btn1:active{
    opacity: 0.6;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: gray;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: relative;
    z-index: 1;
  }
.tooltip:hover .tooltiptext {
    visibility: visible;
  }


header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo
{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
    position: relative;
}
header .logo:hover
{
    color: burlywood;
}

header.sticky .logo{
    color: #111;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 5px;
}
header.sticky .logo:before{
    content: "RZsWORLD";
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    width: 100%;
    height: 100%;
    color: goldenrod;
    overflow: hidden;
    animation: animate 6s infinite;
}

@keyframes animate {
    0% {
    width: 2%;
    }
    25% {
    width: 50%;
    }
    50% {
    width: 100%;
    }
    75% {
    width: 40%;
    }
    100% {
    width: 2%;
    }
}

header.sticky .logo:hover{
    opacity: 0.6;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
    font-weight: 500;
}
header ul li a:hover{
    color:burlywood;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a{
    color: #111;
}
header.sticky ul li a:hover{
    color: burlywood;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.contentbx{
    padding-right: 30px;
}
.contentbx h3
{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50{
    min-width: 50%;
}
img{
    max-width: 100%;
}
.skills{
    background: #111;
}
.heading.white{
    color: #fff;
}
.heading.white p{
    color: gainsboro;
}
.skills .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.skills .content .skillbx
{
    padding: 40px 20px;
    background: #222;
    color: gainsboro;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.skills .content .skillbx:hover{
    background: #2196f3;
}
.skills .content .skillbx img{
    max-width: 80px;
    filter: invert(1);
}
.skills .content .skillbx h2{
    font-weight: 600;
}
.projects .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.projects .content .probx{
    padding: 20px 20px;
    max-width: 300px;
    margin: 20px;
}
.projects .content .probx img{
    max-width: 80%;
}
.projects .content .probx .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    transition: 0.1s;
  }

  .projects .content .probx img:hover{
    border: 5px solid #222;
  }
  .projects .content .probx:hover .tooltiptext {
    visibility: visible;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  /* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
  /* The Close Button */
  .close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(126, 2, 2);
    text-decoration: none;
    cursor: pointer;
  }  

.contact{
    background: #111;
}
.formbx{
    min-width: 60%;   
}
.formbx form{
    display: flex;
    flex-direction: column;
}
.formbx form h3,
.contactinfo h3,h1{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formbx form input,
.formbx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;

}
.formbx form textarea{
    min-height: 200px;
}
.formbx form input::placeholder,
.formbx form textarea::placeholder{
    color: #999;
}
.formbx form input[type="submit"]{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contact{
    padding-bottom: 20px;
}
.contactinfo{
    min-width: 40%;
}
.contactbx{
    position: relative;
}
.contactbx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactbx .box .icon{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactbx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactbx .box .text h3{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
  }
.social{
    background: #000;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.social a{
    color: gray;
}
.social a:hover{
    color: aqua;
}
.copyright{
    background: #000;
    color: #fff;
    text-align: center;
    padding-top: 3px;
    font-size: small;
}

/* responsive */
@media (max-width: 991px)
{
    header,
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }
    header.sticky ul li a{
        color: #fff;
    }
    .banner{
        align-items: flex-start;
    }
    .menu{
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #111;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        font-size: 24px;
        margin: 10px;
    }
    header ul li a:hover{
        color: burlywood;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url(../img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active{
        background: url(../img/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle{
        filter: invert(1);
    }
    section{
        padding: 100px 50px;
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .banner h3{
        font-size: 1em;
    }
    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2{
        font-size: 24px;
    }
    .contentbx h3{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        margin-bottom: 20px;
    }
    .skills .content .skillbx{
        margin: 10px;
    }
    .projects .content .probx{
        width: 100%;
        padding: 10px;
    }
    .contactinfo{
        margin: 20px 0;
    }
}

@media (max-width: 600px)
{
    header,
    header.sticky{
        padding: 20px 20px;
    }
    .btn{
        border-radius: 10px;
        left: 250px;
        bottom: 90px;
    }
    .banner{
        padding: 150px 20px 100px;
    }
    section{
        padding: 100px 20px;
    }    
    .textBx{
        position: relative;
        bottom: 20px;
    }
    .about .content .contentbx p{
        font-size: small;
    }
}